<html lang="en">
<head>
	<meta charset="utf-8">
    {% load static %} 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Registro</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<script src="https://code.jquery.com/jquery-3.6.0.js"></script> 
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'core/css/style2.css' %}">
	<script src="{% static 'core/js/validacion.js' %}"></script>
    
	

</head>

<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="{% static 'core/img/menu.png' %}" alt=""></label>
        <nav class="menu">
            <ul>
                <iMG src="{% static 'core/img/Pawpet.png' %}" class="pawpet2">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'QuienesSomos' %}">Quienes somos</a></li>
                <li><a href="{% url 'Galeria' %}">Galeria de fotos</a></li>
                <li><a href="{% url 'form-donar' %}">Donar</a></li>
                <li><a href="{% url 'form-registro' %}">Registro</a></li>
            </ul>
            <div><iMG src="{% static 'core/img/Pawpet.png' %}" class="pawpet"></div>
        </nav>
    </header>
    <div class="container-fluid" style="margin-top: 50px;"> 
        <div class="row justify-content-center">
        <div class="col-sm-7" >
            <div style="background-color: rgb(255, 255, 255); box-shadow: 0px 0px 5px 1px black; padding: 30px;">
                <h3 style="text-align: center;">{{mensaje}}</h3>
                <div ALIGN="center">
                <a class="btn btn-primary" href="{% url 'home' %}">Volver</a>
                </div>
            </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid p-1 text-center" style="background-color: #4E94AB; margin-top: 10px;">
            <div style="margin-top: 10px;"> 
              <p>Angelo Gonzales, Alonso Leiva, Kevin Godoy, Ignacio Sepulveda ©Copyrigth Derechos reservados.</p>
            </div>
            <div>
              
                <a href="Insertar direccion de enlace"><img src="{% static 'core/img/Facebook.png' %}" width="40px"></a>
                <a href="Insertar direccion de enlace"><img src="{% static 'core/img/Twitter.png' %}" width="40px"></a>
                <a href="Insertar direccion de enlace"><img src="{% static 'core/img/Instagram.png' %}" width="40px"></a>
              
            </div>
        
          </div>  
        </footer>
</body>
</html>