<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h5>Pagina 2</h5>
    <h1>Esta es nuestra página de prueba</h1>
    <h2>Bienvenida a la página {{nombre}}</h2>
    <h2>{{nombre}} tiene un hijo llamado {{hijo.nombre}} que tiene {{hijo.edad}} años</h2>
    <h2>La primera comida que te gusta es {{comidas.0}}</h2>
    <h2>La segunda comida que te gusta es {{comidas.1}}</h2>
    <h2>La tercera comida que te gusta es {{comidas.2}}</h2>
    <ul>
        {% for i in comidas %}
        <li>{{i}}</li>
        {% endfor %}
    </ul>
    <table border="1">
        <tr><td>Patente</td><td>Marca</td><td>Modelo</td></tr>
        {% for ve in Vehiculos %}
        <tr><td>{{ve.patente}}</td><td>{{ve.marca}}</td><td>{{ve.modelo}}</td></tr>
        {% endfor %}
        </table>
    <a href="http://127.0.0.1:8000/">Home</a>
</body>
</html>></html>